{%  extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}




{% if not user_can_continue %}
<div class="col-sm-6">
<p class="lead"> Continue as Guest</p>

<form method='POST' action=' '>{% csrf_token %}
{{ form|crispy }}
<input type="submit" class="btn btn-success" value="continue as guest"/>
</form>

</div>


<div class="col-sm-6">
	<p class="lead"> Login to Continue </p>
<form method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
{{login_form|crispy}}
<input type="hidden" name="next" value="{{next_url}}" />
<input type="submit" class="btn btn-success" value="Login">
</form>

<p class="text-center">
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</p>
</div>
	
{% else %}

<div class="col-sm-4 col-sm-offset-4 text-center">
<p class="lead">
Your Order</p>
<table class="table">
<tr><td>{{order.cart.cartitem_set.count}}   item(s):<br/>{% for i in order.cart.cartitem_set.all %}
<b>{{ i.item.get_title }}</b><br/>
{% endfor %}
</td></tr>
<tr><td>Sub Total:{{order.cart.total}}</td></tr>
<tr><td>Shipping:{{order.shipping_total_price}}</td></tr>
<tr><td>Total:{{order.order_total}}</td></tr>
	</table>
</div>

<div class="col-sm-4 col-sm-offset-4 text-center">
<p><b> Billing to: </b>
<br/>
{{order.billing_address.get_address}}
</p>
<p><b> Shipping to: </b>
<br/>
{{order.shipping_address.get_address}}
</p>
<p><b> Mobile Number: </b>
<br/>
{{order.shipping_address.get_mobile_number}}
</p>
<p>
 <a href="{% url 'order_address' %}">change an address</a>
</p>
<hr/>
<form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
<input type="hidden" name='payment_token' value="ABC" />
<p><button type="submit">Complete Order</button></p>
</form>
</div>


{% endif %}
{%  endblock %}